*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: #603F83FF;
  font-family: sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;

}
.app
{
  padding: 2vmax;
  margin: 3rem auto;
  background-color: #ffffff;
  width: 90%;
  max-width: 50vmax;
  height: 35vmax;
  display: flex;
flex-direction: column;

  
}
.app h1{
  padding: 1vmax 0.6vmax;
  border-bottom: 3px solid blue;

}
.quiz h2{
  
  padding: 1vmax 0.6vmax;
}
.Answers{
  display: flex;
  flex-direction: column;
}
.btn{
  margin: 1.4vh 2vh;
  height: 2.5vmax;
  padding-left: 1vmax;
 background-color: #ffffff;
  outline: none;
  text-align: left;
  border: 2px solid blueviolet;
  font-family: inherit;
font-size: 1rem;
transition: 0.3sec all;
border-radius: 0.4rem;
cursor: pointer;


}
.btn:hover:not([disabled]){
  color: #222;
  background-color: #146c3f5c;
}
.btn:disabled{
  cursor: no-drop;
  color: black;
 
}
.nextdiv{
  display: flex;
  justify-content: center;
  margin-top: 2vmax;
}
.nextbtn{
  background-color: rgba(184, 26, 232, 0.819);
  height: 2.5vmax;
  width: 8vmax;
  border: none;
  outline: none;
color: #ffffff;
border-radius: 0.5rem;
font-family: inherit;
font-size: 1rem;
display: none;
}
.correct{
  background-color: rgb(182, 39, 39);
}
.incorrect{
  background-color: blueviolet;
}